.landingPage {  
    margin: auto;
    background-color: grey;
    column-span: all;
    
}

.landingpPage {
    width: 40%;
    padding-right: .5rem;
    margin-right: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
.landside {
    column-span: all;
    margin-right: auto;
    background-color: grey;
    border-radius: 5%;
}
 

.landingPageContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 20rem;
    margin-bottom: auto;
    width: 40%;
    align-items: center;
    justify-content: center;

}
